:root{
    
    --light-blue-color: #4992ff;
    --footer-height: 60px;
}

*{ box-sizing: inherit }

html { 
    color: var(--text-color--light-theme);
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f3f8ff;
    scroll-behavior: smooth;
    /* white-space: nowrap; */
    text-overflow: ellipsis
}

main {
    /* background-color: #f1f1f1; */
}

::selection {
    color: white;
    background: var(--light-blue-color);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* Nav bar */
.header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header-navbar::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right:0;
    width: 100%;
    height: 10px;
    background-color: white;
    opacity: 0.7;
}

nav {
    padding: 0px 126px;
    display: flex;
    justify-content: space-between;
    background-color: #16223b;
}

.logo {
    width: 100px;
    position: relative;
    z-index: 1000;
}

.brand-img {
    transform: translateY(-50%);
    width: 100%;
    height: 40px;
    object-fit: cover;
    position: absolute;
    top: 50%;
}

.nav-pc-container {
    display: flex;
    justify-content: flex-end;
}

.nav-pc-item {
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.nav-pc-item::after {
    content: "";
    height: 3.5px;
    border-radius: 4px;
    background-color: #ff8947;
    position: absolute;
    bottom: 0px;
    width: 0;
    transition: 0.5s;
}

.nav-pc-item:hover::after {
    width: calc(100% - 48px);
}

.nav-pc-item__link {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

/* Main content */
.contact,
.category {
    padding: 40px 180px;
    text-align: center;
}

.section__heading {
    font-size: 2.4rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
    z-index: 10;
    /* display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: #66ac828c;
    padding: 0 4px 16px 4px; */
}

.section__sub-heading {
    font-size: 2rem;
    color: black;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 42px;
}

/* .section__heading::before {
    content: "";
    position: absolute;
    top: calc(2.4rem / 2);
    left: -10%;
    z-index: 0;
    width: 120%;
    height: 24px;
    background-color: red;
} */

.sub-book-container,
.book-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-book-item,
.book-item {
    /* height: var(--book-item--height); */
    width: 27%;
    box-shadow: rgb(0 0 0 / 24%) 0px 1px 4px;
    border-radius: 4px;
    padding: 12px;
    background-color: white;
    margin-bottom: 40px;
    position: relative;
}

.book-item:hover {
}

.book-item:hover .book-item__img {
    opacity: 0.7;
}

.sub-book-item a,
.book-item a {
    text-decoration: none;
}

.sub-book-item__img,
.book-item__img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.sub-book-item__title,
.book-item__title {
    font-size: 1.6rem;
    color: black;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 16px 0;
}

.sub-book-item__desc {
    height: 0;
    margin: 0;
    padding: 16px 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

/* Footer section */
.footer-navbar {
    height: var(--footer-height);
    line-height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
}

.footer-navbar-container {
    display: flex;
    justify-content: flex-start;
}

.footer-navbar-item {
    padding: 0 24px;
}

.footer-navbar-item__link {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.6rem;
}


/*  */
.nav-pc-item__dropdown-container {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    min-width: 140px;
    animation: dropDown 0.3s linear;
    border-radius: 0 0 6px 6px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-pc-item:hover .nav-pc-item__dropdown-container {
    display: block;
}

.nav-pc-item__dropdown-container:hover {
    display: block;
}

.nav-pc-item__dropdown-item {
    padding: 16px;
    background-color: #16223b;
    border-top: 1px solid #656565;
}

.nav-pc-item__dropdown-item a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.nav-pc-item__dropdown-item:hover  a {
    color: #ff8947;
    cursor: pointer;
}

@keyframes dropDown {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*  */
.nav-overlay {
    position: fixed;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.nav-mobile__menu-icon {
    display: none;
    color: white;
}

.nav-switch-btn {
    display: none;
} 

.nav-mobile-container {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    width: 100%;
    background-color: #16223b;
    opacity: 0;
    transform: translateY(20px);
    transition: linear 0.2s;
    visibility: hidden;
}

.nav-mobile-item:first-child {
    border-top: 1px solid white;
}
    
.nav-mobile-card-item__link {
    text-decoration: none;
    color: var(--text-color--light-theme);
    font-size: 1.8rem;
    padding: 28px 46%;
    display: block;
}

.nav-mobile-card-item__link:hover {
    color: white;
    cursor: pointer;
    background-color: var(--darkGreen-color);
}

.nav-mobile-item__link {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}