main {
    padding-top: 124px;
}

/* Breadcrumb bar */
.breadcrumb-container {
    padding: 0 180px;
}

.breadcrumb-item {
    display: inline-block;
    font-size: 1.6rem;
    color: rgb(103, 102, 102);
    font-weight: 600;
}

.breadcrumb-item__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
}

.breadcrumb-item__icon {
    font-size: 1.6rem;
    margin: 0 8px;
}

/* Book detail */
.book-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 180px;
}

.book-detail__poster {
    width: 30%;
    height: 500px;
}

.book-detail__poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-detail__img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.book-detail__img-item {
    height: 80px;
    width: 140px;
    margin: 20px 0;
}

.book-detail__img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.4s linear;
}

.book-detail__img-item img:hover {
    opacity: 1;
    cursor: pointer;
}

.book-detail__purchase {
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.book-detail__purchase p {
    font-size: 5.8rem;
    color: #e74e4e;
}

.book-detail__purchase p i {
    font-size: 3.6rem;
}

.book-detail__purchase-btn {
    border: none;
    outline: none;
    background-color: var(--light-blue-color);
    border-radius: 4px;
    padding: 24px 48px;
    color: white;
    font-size: 2.4rem;
}

.book-detail__purchase-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.book-detail__purchase-btn i {
    margin-left: 12px;
}


.book-detail__title {
    width: 100%;
    font-size: 4.4rem;
}

.book-detail__desc {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 36px;
    text-align: justify;
}


@media (max-width: 960px) { 
    .breadcrumb-container {
        text-align: center;
    }

    .book-detail {
        flex-direction: row;
        justify-content: center;
    }

    .book-detail__poster {
        width: 100%;
        height: 520px;
    }

    .book-detail__img-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-between
    }

    .book-detail__purchase {
        width: unset;
    }

    .book-detail__title {
        margin-top: 52px;
        font-size: 3.8rem;
        text-align: center;
    }
}

