.nav-pc-item:nth-child(2)::after {
    width: calc(100% - 48px)
}

.physics,
.undersea-exploration,
.earth-science,
.science-fiction {
    padding: 40px 180px;
    text-align: center;
}

.science-fiction {
    padding-top: 124px;
}

@media (max-width: 960px) { 
    .physics, .undersea-exploration, .earth-science, .science-fiction,
    .contact, .category {
        padding: 40px;
    }

    .science-fiction {
        padding: 40px;
        padding-top: 124px;
    }
}