.contact {
    padding-top: 124px;
    text-align: initial;
}

.nav-pc-item:nth-child(4)::after {
    width: calc(100% - 48px)
}

.form-field {
    margin: 16px 0;
    display: flex;
    align-items: center;
}

.form-field__label {
}

.form-field__label {
    font-size: 1.6rem;
    font-weight: 500;
    display: inline-block;
    min-width: 120px;
    margin: 0;
}

label {
    font-size: 1.6rem;
}

.form-field:nth-child(5),
.form-field:nth-child(6) {
    margin: 24px 0;
}

.form-field:nth-child(5) label,
.form-field:nth-child(6) label {
    margin-left: 24px;
    font-size: 1.6rem;
}

.form-field:last-child {
    margin-bottom: 60px;
}

textarea,
select,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="checkbox"] {
    outline: none;
    padding: 4px;
    font-size: 1.6rem;
    font-family: inherit;
}

.reset-btn,
.submit-btn {
    outline: none;
    border: none;
    padding: 12px 20px;
    color: white;
    background-color: var(--light-blue-color);
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 16px;
    min-width: 100px;
}

.reset-btn:hover,
.submit-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 960px) { 
    .form-field {
        flex-wrap: wrap;
    }
    .form-field__label {
        width: 100%;
        margin-bottom: 16px;
    }

    .form-field:nth-child(5) label, .form-field:nth-child(6) label {
        margin-left: 0;
        margin-right: 24px;
    }
}
