/* Mobile devices */
@media (max-width: 960px) {
    .physics, .undersea-exploration, .earth-science, .science-fiction,
    .contact, .category {
        padding: 40px;
    }

    .header-navbar {
        height: 60px;
        line-height: 60px;
        padding: 0 80px;
    }

    .nav-pc-container {
    }
    
    .nav-mobile-item {
    }
    
    .nav-mobile-card-item__link {
        text-decoration: none;
        color: var(--text-color--light-theme);
        font-size: 1.8rem;
        padding: 28px 46%;
        display: block;
    }
    
    .nav-mobile-card-item__link:hover {
        color: white;
        cursor: pointer;
        background-color: var(--darkGreen-color);
    }

    .nav-pc-container {
        display: none;
    }

    .nav-mobile__menu-icon {
        display: block;
        display: inline-block;
        font-size: 2.8rem;
        position: absolute;
        right: 80px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .nav-switch-btn:checked {
        display: none;
    }

    .nav-switch-btn:checked~.nav-overlay {
        display: block;
    }

    .landing-content__card__status {
        right: calc( 50% - 55px);
    }

    .nav-switch-btn:checked~.nav-mobile-container {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        z-index: 10001;
    }
  
    .sub-book-container, .book-container {
        justify-content: center;
    }

    .sub-book-item, .book-item {
        width: 38%;
        margin: 0 30px 40px;
    }

    /* Footer section */
    .footer-navbar {
        justify-content: center;
    }
}