.about {
    padding: 0 13%;
    margin-bottom: 80px;
}

.about-content {
    margin: 32px 0 60px;
}

.about-content>p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: justify;
    margin-bottom: 24px;
}

.about-content__img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-content__img>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.about-content__img div {
    font-size: 1.4rem;
    font-weight: 500;
    font-style: italic;
    margin: 16px;
    text-align: center;
    width: 100%;
}

.about-content__img p {
    font-weight: 500;
}

.about-content__img_col {
    width: 48%;
    margin: 0;
}

.about-content__img_col img {
    width: 83%;
    height: 370px;
    object-fit: cover;
}