.article-content {
    display: flex;
    justify-content: space-between;
}

.article-content__details {
    width: 64%;
    text-align: center;
}

.article-content aside {
    width: 30%;
}

.aside-content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    /* padding-bottom: 20px; */
    border-bottom: 1px solid rgb(187, 187, 187);
}

.aside-content-item:last-child {
    border-bottom: none;
}

.aside-content-item img {
    width: 45%;
    height: 100px;
    object-fit: cover;
}

.aside-content-item p {
    width: 48%;
    font-size: 1.5rem;
    color: var(--dark-bg-color);
    font-weight: 500;
}

.article-content__details__img {
    width: 90%;
    margin: 28px 0 20px 5%;
}

.article-content__details__img img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.article-content__details__img>p {
    font-size: 1.4rem;
    text-align: center;
    margin: 6px 0;
    font-weight: 500;
}

aside h4 {
    margin: 0;
    margin-top: 14px;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

iframe {
    width: 100%;
    height: 400px;
}
