body {
    margin: 0;
}


.homepage {
    position: relative;
}

.nav {
    position: absolute;
    top: 15px;
    padding: 0px 30px;
    color: rgba(104, 239, 241, 0.89);
    width: 100%;

}

.brand {
    padding: 18px 30px;
    color: rgb(211 254 255 / 89%);
    font-size: 3.2rem;
    font-weight: bold;
    display: inline-block;
}

.subnav {
    margin-right: 30px;
    position: absolute;
    right: 20px;
    top: 12px;
    display: inline-block;
}

.subnav li {
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

.subnav li:hover {
    cursor: pointer;
    color: #dbedff;
    opacity: 0.5;
}

.homepage-content {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.6rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.homepage-content h1 {
    color:#e46161;
    text-align: center;
}

.homepage-content a {
    background: transparent;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    color: #3394ca;
    padding: 12px 16px;
    border: 2px solid #3394ca;
    border-radius: 3px;
    margin-right: 8px;
    text-decoration: none;
}

.homepage-content {}

.homepage-content a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.background__img {
    height: 100vh;
    width: 100%;
}

.brand:hover {
    cursor: pointer;
    animation: magic 1s linear forwards;
}

@keyframes magic {
    from {

    }
    to {
        color: rgba(104, 239, 241, 0.89);
    }
}

.contact__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
    margin-bottom: 32px;
}

.contact__icon a {
    text-decoration: none;
}

.contact__icon i {
    padding: 8px 20px; 
    color: white;
    display: block;
}

/* Resume-section */
.resume-section {
    height: 100vh;
    position: relative;
}

.resume-section .header {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.header .heading {
    color: white;
}

.header p {
    color: white;
    opacity: 0.8;
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;

}
.blog-section h1,
.resume-section h1 {
    font-size: 3.2rem;
    color: #333;
    margin: 15px;
}

.blog-content,
.resume-content {
    position: relative;
    top: 150px;
    margin: 0 120px;

    
}

.resume-content {
    display: flex;
    justify-content: space-evenly;
}

.experience-container,
.education-container {
    position: relative;
    padding: 10px 20px;
    background-color: azure;
    line-height: 2.4rem;
}

.experience-item,
.education-item {
 
}

.experience-item p,
.education-item p {
    margin: 15px 0;
    font-size: 2.2rem;
    font-weight: bold;
}

.experience-item__title,
.education-item__title {
    font-weight: bold;
    font-size: 1.8rem;
    font-weight: bold;
}

.experience-item__sub-title,
.education-item__sub-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    opacity: 0.8;
    margin-bottom: 10px;
}

.blog-item__desc,
.experience-item__desc,
.education-item__desc {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    opacity: 0.8;
    line-height: 1.8rem;
}


.status,
.status-current,
.explore {
    font-size: 1.4rem;
    position: absolute;
    right: 20px;
    padding: 1px 5px;
    text-decoration: none;
}
.status {
    background-color: #fca9a9;
    color: #333;

}

.status-current {
    background-color: rgb(113 243 245 / 89%);
    color: #333;

}

.explore {
    background-color: #99f54e;
    color: #333;
}


.experience-container {
    margin-left: 300px;
}

.experience-item {

}

.experience-item__title {

}

.experience-item__sub-title {

}

.experience-item__desc {

}
.resume-img {
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    z-index: -1;
}

/* Blog-section */
.blog-section {
    position: relative;
    top: 150px;
}

.blog-img {
    height: 100vh;
    width: 100%;
}

.blog-content {
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:5px
}


.blog-item {
    background-color: white;
    padding: 10px 20px;
    display: inline-block;
    width: 28%;
    margin:5px
}

.blog-item a {
    
}

.blog-item__title {
    font-weight: bold;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


/* Contact section */
.contact-section {
}
.resume-content {
    
}

.contact-form {
    width: 46%;
    height: 38vh;
    background-color: white;
    position:relative;
    border-radius: 15px;

}

.contact-form h2 {
    font-size: 2.2rem;
    color: black;
    position: absolute;
    left: 28px;
    top: 85%;
}
.my_info {
    position: absolute;
    top: 100%;
    left: 30px;

}
.my_info__item {
    font-size: 1.4rem;
    padding: 5px 0;
    font-weight: 600;
}

.my_info__item p {
    display: inline-block;
    margin: 0px;
    padding-left: 2px;

}
.customer_inf {

}

.contact__bg-img {
    /* opacity: 0.9; */
}

.header .contact__heading,
.header .contact__sub-heading {
    color: black;
}

.contact__img {
    width: 100%;
}